<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flea Market Search</title>
    <!-- Load Materialize CSS first -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Your custom CSS comes after the framework to ensure it takes precedence -->
    <link rel="stylesheet" href="static/styles.css" />
    <style>
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        justify-content: center;
        background-color: #263238; /* Dark blue-grey */
        color: #ffffff;
      }
      .container {
        width: 90%;
        max-width: 600px;
        margin: auto;
      }
      .page-header h1 {
        margin-top: 20px; /* Adjust this value as needed */
      }
    </style>
  </head>

  <body>
    <header class="page-header center-align">
      <h1>Tarkov Price Checker</h1>
      <p class="data-provider">
        Data provided by
        <a href="https://tarkov-market.com" target="_blank"
          >tarkov-market.com</a
        >
        &amp; <a href="https://tarkov.dev/" target="_blank">tarkov.dev</a>
      </p>
    </header>

    <div class="container">
      <div class="input-field">
        <input
          id="searchBox"
          type="text"
          class="white-text"
          onkeyup="performSearch()"
          placeholder="Search..."
        />
        <button id="clearButton" onclick="clearSearch()">x</button>
      </div>
      <div id="results"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="/static/script.js" defer></script>
    {% if request.user_agent.is_pc %}
    <script>
      window.onload = function () {
        document.getElementById("searchBox").focus();
      };
    </script>
    {% endif %}
  </body>
</html>
